@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("TTLakes-Regular.woff") format("woff"),
    url("TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("TTLakes-Medium.woff") format("woff"),
    url("TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "TT Lakes", Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #f8f8f8;
  box-sizing: border-box;
}

.slider-container{
  max-width: 1120px;
  min-width: 320px;
  margin: 0 auto;
}
.slider-title {
  background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
  margin: 0;
  border-top: 1px solid #d9fff5;
}

.slider-title__h2 {
  font-family: "TT Lakes", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  padding: 20px;
  margin: 0;
}
.slider-container__mobile-hidden{
  width: 100%; 
  max-width: 1200px; 
  overflow: hidden; 
}
.swiper {
  padding: 20px;
  height: 90px;
  margin: 0;
  width: 100%; 
  max-width: 1200px; 
  overflow: hidden; 
}
.swiper-slide{
  width: 240px;
  height: 72px;
  overflow: hidden;
  border: 1px solid transparent;
}
.swiper-slide:hover{
  border: 1px solid #EAEAEA
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
}

.swiper-pagination-bullet {
  background-color: #dddddd;
  width: 12px;
  height: 12px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}
.sliders {
  display: none;
}

.slider-text {
  display: none;
}

@media (min-width: 768px) and (max-width: 1119px) {
.slider-container__mobile-hidden {
  display: none;
}

.sliders {
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: wrap;
  gap: 15px 30px;
  padding: 15px;
  max-height: 170px;
  overflow: hidden;
}



.slider-brands--img {
  width: 224px;
  height: 72px;
}

.slider-text {
  display: inline-block;
  border: none;
  background-color: transparent;
  font-family: "TT Lakes", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 0 30px;
}

.slider-text::before {
  content: url("img/icon.svg");
  display: inline-block;
  padding-right: 15px;
  vertical-align: middle;
}
}

@media (min-width: 1120px) {
.slider-container__mobile-hidden {
  display: none;
}

.sliders {
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: wrap;
  gap: 15px 40px;
  padding: 20px;
  overflow: hidden;
}
.slider-brands{
  display: flex;
 
}
.slider-brands--unvisible-laptop{
  display: none;
}

.slider-brands--img {
  width: 240px;
  height: 72px;
}

.slider-text {
  display: inline-block;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding-left: 40px;
}

.slider-text::before {
  content: url("img/icon.svg");
  display: inline-block;
  padding-right: 15px;
  vertical-align: middle;
}
}

